<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.siberiancms.app" >

    <uses-sdk android:minSdkVersion="11" android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="com.siberiancms.app.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.google.android.c2dm.intent.RECEIVE" android:category="applicationPackage" />
    <uses-permission android:name="com.google.android.c2dm.SEND" />
    <permission android:name="com.siberiancms.app.permission.C2D_MESSAGE" android:protectionLevel="signature" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:hardwareAccelerated="true"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar"

        >
        <activity
            android:name="com.siberiancms.app.Main"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.siberiancms.app.Browser"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.BROWSER" />
            </intent-filter>
        </activity>

        <!--<uses-library-->
            <!--android:name="com.google.android" />-->

        <receiver
            android:name=".GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.google.android.gcm.demo.app" />
            </intent-filter>
        </receiver>
        <service android:name=".GcmIntentService" />

        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />

    </application>

</manifest>
